/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
  position: relative;
  height: 90%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 92.5%;
  margin: 0;
  padding: 0;
}



#locationSpan {
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  outline: none;
}